<%-include('header.ejs')%>
	<title>About</title>
	<link rel = "stylesheet" href ="/styles.css">
</head>
<body>
	<%-include('navbar.ejs')%>
	
	<div class= "container">
	<h1 class="text-center">About...</h1>
	<p><%=about%></p>
</div>
<%-include('footer.ejs')%>