<%-include('header.ejs')%>
	<title>Contact</title>
	<link rel = "stylesheet" href ="/styles.css">
</head>
<body>
	<%-include('navbar.ejs')%>
	<div class= "container">
	<h1 class="text-center">Contact</h1>
	<p><%=contact%></p>
</div>

<%-include('footer.ejs')%>